<section>
  <header>
    <h2 id="title">Play Hangman</h2>
  </header>

  <div class="row">
    <div class="hangman-guesses">
    </div>
  </div>

  <div class="row">
    <div class="hangman-letters">
      {{#each letters as |letter|}}
        {{hangman-letter letter=letter}}
      {{/each}}
    </div>
    <div class="hangman-graphic">
    </div>
  </div>
</section>
